# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.venv/
env/
ENV/
*.env

# OS specific files
.DS_Store
Thumbs.db

# IDE specific files
.vscode/
.idea/

# Potentially sensitive files (if you ever use .env locally)
.env